profiles {
slurm {
    process.executor = 'SLURM'
    singularity.enabled = 'true'
   }
test_local {
      process.executor = 'local'
      singularity.enabled = true
      singularity.cacheDir = 'simgs/cache'
    }
}


process {
    withName: 'trim_fastp' {
        container = 'docker://biocontainers/fastp:v0.20.1_cv1'
    }
    withName: 'align_w_spikein|align|rRNA' {
      container = 'library://default/pipeline/bowtie2:v2.4.1'
    }
    withName: 'get_spike_bam|filter_align|index' {
      container = 'library://elin.axelsson/software/sam_bed_tools:v1.9_2.28.0'
    }
    withName: 'dedup_umi' {
      container = 'docker://genomicpariscentre/umi-tools:0.5.3'
    }
    withName: fastqc {
      container = 'library://elin.axelsson/software/fastqc_cutadapt_galore:v0.11.5_2.10_0.6.5'
    }
    withName: 'bw_rev|bw_fwd' {
      container = 'library://elin.axelsson/software/deeptools:v3.4.3'
    }
}
